
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: serif, cursive;
    line-height: 1.6;
    background-color: #f4eade; 
    color: #333;
    padding: 20px;
}


.container {
    max-width: 800px;
    margin: 0 auto; 
}


.card {
    background: #EAD0CA; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border-bottom: 3px solid #653058; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}


h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #653058; 
}

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
    color: #2c3e50;
}

ul {
    margin-left: 20px;
    margin-bottom: 10px;
}


a {
    text-decoration: none;
    color: #653058;
    font-weight: bold;
}

a:hover {
    color: #653058; 
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #653058; 
    padding: 8px;
}

th {
    background-color: #BA8791; 
    color: white;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 8px;
    border: 1px solid #d2b48c; 
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #BA8791; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

button:hover {
    background-color: #87BAAB; 
}

.dark-mode {
    background-color:#222;
    color:rgb(167, 144, 144);
    body { background-color: #2D142C; color: #EAD0CA; }
.card { background: #3D1D35; border-color: #BA8791; }
h1, h2, a { color: #BA8791; }
button { background-color: #87BAAB; color: #2D142C; }
button:hover { background-color: #BA8791; }
input, textarea { background-color: #1F0B1E; border-color: #653058; color: #f4eade; }
th { background-color: #653058; color: #BA8791; }
}    

.hidden {
    display:none;
    }
